.student p, librarian{
    margin:0px 0px 5px 0px;
}

.librarian p{
    margin:0px;
}


#pageBox {
  padding: 20px;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

